{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "loose": true,
        "modules": false,
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-runtime","@babel/plugin-proposal-class-properties", [
    "import",{
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css"
    }
  ]]
}
